@inject HttpClient Http
@using Models
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JS

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Contract Generator</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateContract">
                <span class="oi oi-brush" aria-hidden="true"></span> Create a contract
            </NavLink>
        </div>
        @if(cb != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ExportContract" target="_blank">
                    <span class="oi oi-copywriting" aria-hidden="true"></span> View last contract
                </NavLink>
            </div>

        }
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="ModifyTemplates">
                    <span class="oi oi-project" aria-hidden="true"></span> Modify templates
                </NavLink>
            </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private ContractBundle cb { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
       cb = await localStorage.GetItemAsync<ContractBundle>("SelectedContractBundle");
    }
}
